.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 5px #e0dede;
    .nav-logo{
        padding: 0.5% 0% 0.5% 2.5%;
        width: 50%;
    }
    .nav-lista{
        padding: 0.5% 2.5% 0.5% 0%;
        width: 50%;
        .nav-items{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            .nav-item{
                padding: 0% 2.5% 0% 2.5%;
                font-size: 21px;
                text-decoration: none;
                color: black;
            }
        }
    }
}